@font-face {
    font-family: 'Besom 2';
    src: url('../fonts/Besom/Besom.eot');
    src: local('Besom by Krisjanis Mezulis / RIT CREATIVE'), local('Besom'),
        url('../fonts/Besom/Besom.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Besom/Besom.woff') format('woff'),
        url('../fonts/Besom/Besom.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Core Sans E W01 45 Regular";
    src: url("Core Sans E/Core Sans E W01 45 Regular.eot");
    src: url("Core Sans E/Core Sans E W01 45 Regular.eot?#iefix") format("embedded-opentype"),
        url("Core Sans E/Core Sans E W01 45 Regular.woff2") format("woff2"),
        url("Core Sans E/Core Sans E W01 45 Regular.woff") format("woff"),
        url("Core Sans E/Core Sans E W01 45 Regular.ttf") format("truetype");
}

@font-face {
    font-family: "Core Sans E W01 95 Black";
    src: url("Core Sans E/Core Sans E W01 95 Black.eot");
    /* IE9*/
    src: url("Core Sans E/Core Sans E W01 95 Black.eot?#iefix") format("embedded-opentype"),
        /* IE6-IE8 */
        url("Core Sans E/Core Sans E W01 95 Black.woff2") format("woff2"),
        /* chrome、firefox */
        url("Core Sans E/Core Sans E W01 95 Black.woff") format("woff"),
        /* chrome、firefox */
        url("Core Sans E/Core Sans E W01 95 Black.ttf") format("truetype"),
        /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
        url("Core Sans E/Core Sans E W01 95 Black.svg#Core Sans E W01 95 Black") format("svg");
    /* iOS 4.1- */
}