 @media screen and (max-width: 1024px) {}

 @media screen and (max-width: 992px) {
     .navbar-nav {
         position: relative;
         top: 30px;
     }


     .navbar-collapse {
         background: rgba(0, 0, 0, 1);
         z-index: 10;
         height: 250px;
     }

 }

 @media screen and (max-width: 320px) {}

 @media screen and (max-width: 320px) {}