body {
    font-size: 100%;
}

* {
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

.b {
    border: 1px solid #fff;
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}

.wrap {
    max-width: 1600px;
}

.conteiner {
    max-width: 1170px;
    margin: 0 auto;
}

.menu .logo {
    /*------------------------------menu-----------------------------*/
    float: left;
}

.menu .logo h1 {
    color: white;
    font-family: PTSans, sans-serif;
    font-size: 34px;
    font-weight: 700;
    font-variant: small-caps;
    text-transform: uppercase;
    color: #ec4848;
}

.menu {
    padding: 30px 0;
}

.menu nav {
    float: right;
}

.menu li {
    margin: 0 30px 0 0;
    display: inline-block;
}

.menu li:nth-child(7) {
    margin: 0;
}

.menu a {
    display: block;
    padding: 5px 0 0 0;
    font-family: RobotoCondensed, sans-serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f444a;
}

.menu li:nth-child(1) a {
    color: #ec4848;
}

.menu a:hover {
    color: #ec4848;
}

.menu .serch {
    position: relative;
}

.menu .serch .input {
    display: none;
}

.menu label img {
    cursor: pointer;
    vertical-align: middle;
}

.menu .serch .label-input input {
    display: block;
    position: absolute;
    font-size: 20px;
    top: 50px;
    padding: 10px;
    left: -120px;
    z-index: 5;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.label-input input[type="text"]::-webkit-input-placeholder {
    display: block;
    font-size: 20px;
    color: #030;
    padding: 0 10px 0 0;
}

.label-input input[type="text"]::-moz-placeholder {
    display: block;
    font-size: 20px;
    color: #030;
    padding: 0 10px 0 0;
}

.label-input input[type="text"]:-ms-input-placeholder {
    display: block;
    font-size: 20px;
    color: #030;
    padding: 0 10px 0 0;
}

.label-input input[type="text"]::-ms-input-placeholder {
    display: block;
    font-size: 20px;
    color: #030;
    padding: 0 10px 0 0;
}

.label-input input[type="text"]::placeholder {
    display: block;
    font-size: 20px;
    color: #030;
    padding: 0 10px 0 0;
}

#serch:checked~.label-input input {
    opacity: 1;
}

.adventure-slider {
    /*---------------------------adventure-slider-------------*/
    position: relative;
    width: 100%;
    overflow: hidden;
}

.adventure-slider input {
    display: none;
}

.adventure-slider .slider-a .img {
    position: absolute;
    z-index: 0;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
}

.adventure-slider .slider-a img {
    width: 100%;
    height: auto;
}

.adventure-slider .slider-a .img .slider-a-text {
    display: inline-block;
    border: 10px solid red;
    text-align: center;
    height: 200px;
    width: 100%;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: auto;
    overflow: none;
    /*чтобы контент не расползался*/
    color: red;
    font-family: OpenSans, sans-serif;
    letter-spacing: 6px;
}

.adventure-slider .slider-a .img .slider-a-text h1 {
    color: white;
    font-size: 7vw;
    font-weight: 700;
    text-transform: uppercase;
}

.adventure-slider .slider-a .img .slider-a-text p {
    color: white;
    font-size: 1.5vw;
    font-weight: 600;
    margin: 30px 0 86px;
}

.adventure-slider .slider-a .img .slider-a-text button {
    width: 147px;
    height: 50px;
    background-color: #ec4848;
    cursor: pointer;
    outline: none;
    color: white;
    font-family: "Myriad Pro", sans-serif;
    font-size: 16px;
    font-weight: 400;
    text-transform: uppercase;
}

.adventure-slider .slider-a-str label {
    position: absolute;
    top: 50%;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 3;
}

#slider1:checked~.slider-a .img1,
#slider2:checked~.slider-a .img2,
#slider3:checked~.slider-a .img3 {
    position: relative;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
    z-index: 1;
}

#slider1:checked~.slider-a-str label:nth-child(3),
#slider2:checked~.slider-a-str label:nth-child(1),
#slider3:checked~.slider-a-str label:nth-child(2) {
    background: url("img/slider-arrov-left.png") center no-repeat;
    left: 30px;
    -webkit-transform: rotate(-180deg);
    -ms-transform: rotate(-180deg);
    transform: rotate(-180deg);

}

#slider1:checked~.slider-a-str label:nth-child(3):hover,
#slider2:checked~.slider-a-str label:nth-child(1):hover,
#slider3:checked~.slider-a-str label:nth-child(2):hover {
    left: 30px;
    background: #fff url("img/slider-arrov-left.png") center no-repeat;
}

#slider1:checked~.slider-a-str label:nth-child(2),
#slider2:checked~.slider-a-str label:nth-child(3),
#slider3:checked~.slider-a-str label:nth-child(1) {
    background: url("img/slider-arrov-left.png") center no-repeat;
    right: 30px;
}

#slider1:checked~.slider-a-str label:nth-child(2):hover,
#slider2:checked~.slider-a-str label:nth-child(3):hover,
#slider3:checked~.slider-a-str label:nth-child(1):hover {
    background: #fff url("img/slider-arrov-left.png") center no-repeat;
    right: 30px;
}



.about {
    /*------------------------------about-----------------------------*/
    border-bottom: 1px solid #ebebeb;
    padding: 0 0 30px;
}

.about .about-text {
    width: 800px;
    text-align: center;
    font-family: "RobotoCondensed", sans-serif;
    margin: 0 auto 60px;
    text-transform: uppercase;
}

.about .about-text h1 {
    margin: 100px 0 60px;
    color: #3f444a;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.about .about-text p {
    color: #5c6873;
    font-size: 18px;
    font-weight: 300;
}

.about .accordeon input {
    display: none;
}

.about .accordeon {
    float: left;
}

.about .accordeon .ac-label {
    position: relative;
    display: block;
    cursor: pointer;
    width: 580px;
    height: 59px;
    background-color: #3f444a;
    border: 1px solid rgba(138, 138, 138, 0.5);
    border-radius: 2px;
}

.about .accordeon input:checked+.ac-label {
    background-color: #ec4848;
}

.about .accordeon .ac-label span {
    padding: 0 0 0 20px;
    color: white;
    font-family: OpenSans, sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 59px;
}

.about .accordeon .ac-label:after {
    content: '';
    position: absolute;
    display: inline-block;
    width: 60px;
    right: 0;
    height: 58px;
    background: url("img/accordeon-plus.png") 0 0 no-repeat;
}

.about .accordeon input:checked+.ac-label:after {
    background: url("img/accordeon-minus.png") 0 0 no-repeat;
}

.about .accordeon section {
    width: 580px;
    overflow: hidden;
    height: 0;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    border: 1px solid rgba(138, 138, 138, 0.5);
    border-radius: 2px;
    border-top: none;
    color: #323232;
    font-family: RobotoCondensed, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
}

.about #accordeon1:checked~.open-text-one,
.about #accordeon2:checked~.open-text-two,
.about #accordeon3:checked~.open-text-three {
    padding: 34px 25px 37px 23px;
    height: 144px;
}

.about .progress-bar {
    float: right;
}

.about .progress-bar .block {
    margin: 0 0 30px;
    width: 540px;
    height: 33px;
    background-color: #f2f2f2;
    border: 1px solid rgba(138, 138, 138, 0.34);
    border-radius: 2px;
}

.about .progress-bar .block:nth-child(6) {
    margin: 0;
}

.about .progress-bar .bg-block {
    background-color: #ec4848;
    height: 33px;
}

.about .progress-bar span {
    padding: 0 0 0 15px;
    color: white;
    font-family: RobotoCondensed, sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 33px;
}

.about .progress-bar .block1 {
    width: 80%;
}

.about .progress-bar .block2 {
    width: 60%;
}

.about .progress-bar .block3 {
    width: 75%;
}

.about .progress-bar .block4 {
    width: 90%;
}

.about .progress-bar .block5 {
    width: 50%;
}

.about .progress-bar .block6 {
    width: 85%;
}

.service {
    /*-----------------------------service---------------------------*/
    padding: 50px 0;
    -webkit-box-shadow: 0 0 10px #699;
    box-shadow: 0 0 10px #699;
}

.service .service-text-h1 h1 {
    text-align: center;
    margin: 0 auto 60px;
    color: #3f444a;
    font-family: RobotoCondensed, sans-serif;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.service .service-b {
    float: left;
    cursor: pointer;
    -webkit-box-shadow: 1px 1px 10px #000;
    box-shadow: 1px 1px 10px #000;
    margin: 0 40px 0 0;
    border-radius: 10px;
    font-family: RobotoCondensed, sans-serif;
}

.service .service-b:nth-child(3) {
    margin: 0;
}

.service .service-b .service-img {
    display: block;
    margin: 33px auto 60px;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.service .img-one {
    background: url("img/servise-img-one.png") center no-repeat;
}

.service .img-two {
    background: #fff url("img/servise-img-two.png") center no-repeat;
}

.service .img-three {
    background: #fff url("img/servise-img-three.png") center no-repeat;
}

.service .service-b .service-text {
    width: 290px;
    margin: 0 40px 40px 23px;
}

.service .service-b p {
    margin: 30px 0 30px;
    font-size: 18px;
    line-height: 25px;
    font-weight: 300;
}

.service .service-b h1 {
    text-align: left;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 21px;
}

.service .service-b-two,
.service .service-b-three {
    color: #5c6873;
}

.service .service-b-one {
    background-color: #3f444a;
    color: #fff;
}

.service .service-b-two:hover,
.service .service-b-three:hover {
    background-color: #3f444a;
    color: #fff;
}

.service .service-button {
    display: block;
    margin: 0 auto 42px;
    width: 156px;
    height: 52px;
    background-color: #ec4848;
    outline: none;
    cursor: pointer;
}

.service .service-span {
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.join {
    /*--------------------------join----------------------*/
    width: 1600px;
    padding: 100px 0;
    margin: 50px 0;
    background: url("img/join-bg.png") 0 0 no-repeat;
    text-align: center;
    color: #fff;
    padding: 100px 0;
    font-family: RobotoCondensed, sans-serif;
}

.join .join-img {
    margin: 0 auto;
    width: 64px;
    height: 62px;
}

.join .join-img img {
    width: 100%;
    height: auto;
}

.join .join-text h1 {
    color: white;
    margin: 30px 0 60px;
    font-size: 40px;
    font-weight: 600;
    text-transform: uppercase;
}

.join .join-text p {
    margin: 0 0 30px;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
}

.join .join-text .join-button {
    width: 156px;
    height: 52px;
    cursor: pointer;
    background-color: #ec4848;
    color: white;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer {
    /*-------------------------offer--------------------*/
    font-family: RobotoCondensed, sans-serif;
    padding: 50px 0;
    -webkit-box-shadow: 0 0 10px #699;
    box-shadow: 0 0 10px #699;
}

.offer h1 {
    text-align: center;
    margin: 0 0 30px;
    color: #3f444a;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer .offer-block {
    margin: 0 auto;
}

.offer .offer-block .offer-b {
    display: inline-block;
    margin: 0 50px 0 0;
}

.offer .offer-block-two {
    margin: 65px 0 0;
}

.offer .offer-block .offer-b:nth-child(2),
.offer .offer-block .offer-b:nth-child(4) {
    margin: 0;
}

.offer .offer-b .offer-text {
    display: inline-block;
    text-align: left;
    margin: 0 0 0 30px;
}

.offer img {
    vertical-align: top;
}

.offer .offer-b h1 {
    text-align: left;
    color: #3f444a;
    font-size: 25px;
    font-weight: 700;
    text-transform: uppercase;
}

.offer .offer-b p {
    color: #5c6873;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

.customer-slider {
    /*----------------------------customer-slider1---------------*/
    width: 1600px;
    position: relative;
    padding: 50px 0;
    background-color: white;
    border: 1px solid #ebebeb;
    overflow: hidden;

}

.customer-slider input {
    display: none;
}

.customer-slider .customer-slider-conteiner {
    width: 10000px;
    -webkit-transition: .5s linear;
    -o-transition: .5s linear;
    transition: .5s linear;
    font-family: RobotoCondensed, sans-serif;
    text-transform: uppercase;
}

.customer-slider .customer-img {
    display: inline-block;
    margin: 0 200px 0 400px;
    width: 1015px;
}

.customer-slider .customer-img h1 {
    margin: 0 0 60px;
    color: #3f444a;
    font-size: 40px;
    font-weight: 700;
    text-align: center;
}

.customer-slider .customer-slider-text {
    display: inline-block;
    vertical-align: middle;
}

.customer-slider .customer-img img {
    display: inline-block;
    vertical-align: middle;
    margin: 0 40px 0 0;

}

.customer-slider .customer-slider-text h2 {
    color: #3f444a;
    font-size: 25px;
    font-weight: 700;
}

.customer-slider .customer-slider-text h3 {
    color: #ec4848;
    font-size: 14px;
    font-weight: 700;
}

.customer-slider .customer-slider-text p {
    color: #5c6873;
    margin: 30px 0 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 25px;
}

#customer-slider1:checked~.customer-slider-conteiner {
    -webkit-transform: translate(0);
    -ms-transform: translate(0);
    transform: translate(0);
}

#customer-slider2:checked~.customer-slider-conteiner {
    -webkit-transform: translate(-1650px);
    -ms-transform: translate(-1650px);
    transform: translate(-1650px);
}

#customer-slider3:checked~.customer-slider-conteiner {
    -webkit-transform: translate(-3250px);
    -ms-transform: translate(-3250px);
    transform: translate(-3250px);
}

.customer-slider .customer-slider-controls {
    position: absolute;
    margin: 20px 0 0;
    width: 100px;
    z-index: 3;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
}

.customer-slider .customer-slider-controls label {
    display: inline-block;
    margin: 0 10px 0 0;
    border-radius: 50%;
    width: 13px;
    height: 13px;
    cursor: pointer;
    background: #3f444a;
}

.customer-slider .customer-slider-controls label:hover {
    background-color: #ec4848;
}

.counter {
    /*----------------------------counter------------------
    ---*/
    background: url("img/counter-bg.gif") center no-repeat;
    padding: 60px 0 70px;
    font-family: RobotoCondensed, sans-serif;
    color: rgba(255, 255, 255, 1);
    text-transform: uppercase;
}

.counter .counter-block {
    display: inline-block;
    text-align: center;
    margin: 0 20px 0 0;
    width: 268px;
    background-color: rgba(236, 72, 72, .3);
}

.counter .counter-block:nth-child(4) {
    margin-right: 0;
}

.counter .counter-block-bg {
    display: inline-block;
    padding: 27px 27px;
    margin: 42px auto 32px;
}

.counter-block:nth-child(1) .counter-block-bg {
    background: url("img/counter-img-one.gif") center no-repeat;
}

.counter .counter-block:nth-child(2) .counter-block-bg {
    background: url("img/counter-img-two.gif") center no-repeat;
}

.counter .counter-block:nth-child(3) .counter-block-bg {
    background: url("img/counter-img-three.gif") center no-repeat;
}

.counter .counter-block:nth-child(4) .counter-block-bg {
    background: url("img/counter-img-for.gif") center no-repeat;
}

.counter .counter-block h1 {
    font-size: 40px;
    font-weight: 700;
    font-variant: small-caps;
}

.counter .counter-block p {
    margin: 25px 0 60px;
    font-size: 14px;
    font-weight: 400;
}

.meet {
    /*-----------------------------------meet----------------------*/
    padding: 50px 0;
    font-family: "Roboto Condensed", sans-serif;
    text-align: center;

}

.meet h1 {
    color: #3f444a;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.4px;
}

.meet p {
    margin: 50px auto;
    width: 800px;
    color: #5c6873;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.18px;
}

.meet .meet-block-wce {
    display: inline-block;
    position: relative;
    margin: 0 20px 0 0;
}

.meet .meet-block-wce:last-child {
    margin: 0;
}

.meet .meet-block-wce-abcolut {
    position: absolute;
    bottom: 4px;
    width: 268px;
    height: 100px;
    background-color: rgba(236, 72, 72, .5);
    -webkit-transition: 1s linear;
    -o-transition: 1s linear;
    transition: 1s linear;
    opacity: 0;
}

.meet .meet-block-wce:nth-child(1) .meet-block-wce-abcolut {
    opacity: 1;
}

.meet .meet-block-wce-abcolut h1 {
    font-size: 25px;
    margin: 5px 0 0;
    color: #fff;
    text-transform: none;

}

.meet .meet-block-wce-abcolut p {
    font-size: 18px;
    margin: 5px 0;
    color: #fff;
}

.meet .meet-block-wce-abcolut .socceti li {
    display: inline-block;
    height: 25px;
    margin: 5px 10px 0 0;
}

.meet .meet-block-wce-abcolut .socceti a {
    display: block;
    padding: 0 0 5px;
    width: 20px;
    height: 20px;
}

.meet .meet-block-wce-abcolut .socceti li:last-child {
    margin: 0;
}

.meet .meet-block-wce:hover .meet-block-wce-abcolut {
    opacity: 1;
    cursor: pointer;
}

.meet .meet-block-wce-abcolut .socceti a:hover {
    border-bottom: 2px solid #000;

}

.meet .meet-block-wce-abcolut .soc-one {
    background: url("img/meet-img-soc-one.gif") center no-repeat;
}

.meet .meet-block-wce-abcolut .soc-two {
    background: url("img/meet-img-soc-tvo.gif") center no-repeat;
}

.meet .meet-block-wce-abcolut .soc-three {
    background: url("img/meet-img-soc-three.gif") center no-repeat;
}

.meet .meet-block-wce-abcolut .soc-foo {
    background: url("img/meet-img-soc-foo.gif") center no-repeat;
}

.meet .meet-block-wce-abcolut .soc-five {
    background: url("img/meet-img-soc-five.gif") center no-repeat;
}

.work {
    /*----------------------work--------------------*/
    font-family: "Roboto Condensed", sans-serif;
    text-transform: uppercase;
    text-align: center;
    border: 1px solid #ebebeb;
    padding: 50px 0 50px 0;
}

.work .work-h1 h1 {
    color: #3f444a;
    font-size: 40px;
    font-weight: 700;
    letter-spacing: 0.4px;
}

.work .work-h1 p {
    color: #5c6873;
    margin: 50px 0 70px 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.18px;
}

.work .work-ul {
    margin: 0 0 52px;
}

.work .work-ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.work .work-ul a {
    color: #3f444a;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    color: #3f444a;
    letter-spacing: 0.16px;
}

.work .work-ul li:nth-child(1) a {
    color: #ec4848;
}

.work .work-ul li:hover a {
    color: #ec4848;
}

.work .work-block .work-block-wse {
    display: inline-block;
    margin: 0 30px 0 0;
    padding: 0 0 30px;
    text-transform: none;
}

.work .work-block .work-block-wse .work-bg-img {
    position: relative;
    width: 350px;
    height: 200px;
}

.work .work-block-wse .work-bg-img-absolute {
    position: absolute;
    width: 350px;
    height: 200px;
    opacity: 0;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;

}

.work .work-block-wse:nth-child(1) .work-bg-img-absolute {
    background: url("img/work-bg-img.png") 0 0 no-repeat;
    opacity: .8;
}

.work .work-block-wse .work-bg-img-absolute:hover {
    background: url("img/work-bg-img.png") 0 0 no-repeat;
    opacity: .5;
    cursor: pointer;
}

.work .work-block-wse .work-bg-img-one {
    background: url("img/work-img-one.jpg") center no-repeat;
}

.work .work-block-wse .work-bg-img-two {
    background: url("img/work-img-two.jpg") center no-repeat;
}

.work .work-block-wse .work-bg-img-three {
    background: url("img/work-img-three.jpg") center no-repeat;
}

.work .work-block-wse .work-bg-img-foo {
    background: url("img/work-img-foo.jpg") center no-repeat;
}

.work .work-block-wse .work-bg-img-five {
    background: url("img/work-img-five.jpg") center no-repeat;
}

.work .work-block-wse .work-bg-img-six {
    background: url("img/work-img-six.jpg") center no-repeat;
}

.work .work-block-wse:nth-child(3),
.work .work-block-wse:nth-child(6) {
    margin: 0;
}

.work .work-block h1 {
    margin: 27px 0 0 0;
    color: #5c6873;
    font-size: 20px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.2px;
}

.work .work-block p {
    color: #5c6873;
    font-size: 12px;
    font-weight: 300;
    line-height: 32px;
    letter-spacing: 0.12px;
}

.clint {
    /*---------------------------clint------------------------*/
    padding: 50px 0 67px 0;
    border: 1px solid #ebebeb;
}

.clint h1 {
    color: #3f444a;
    margin: 0 auto 63px;
    text-align: center;
    font-family: "Roboto Condensed", sans-serif;
    font-size: 40px;
    font-weight: 700;
    text-transform: uppercase;
}

.clint .clint-link {}

.clint .clint-link .link {
    display: inline-block;
    position: relative;
    padding: 5px;
}

.clint .clint-link .link:before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    width: 35px;
    height: 35px;
    margin: 0 10px 0 0;
}

.clint .clint-link .link:last-child {
    margin: 0;
}

.clint .clint-link .link-one:before {
    background: url("img/clint-link-img-one-elem.png") right center no-repeat;
    /*opacity: .5;*/
}

.clint .clint-link .link-one .fish {
    background: url("img/clint-link-img-two-elem.png") center no-repeat;
    position: absolute;
    top: 11px;
    left: 2px;
    width: 38px;
    height: 41px;
    -webkit-transition: 1s;
    -o-transition: 1s;
    transition: 1s;
}

.clint .clint-link .link-one:hover .fish {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.clint .clint-link .link-two:before {
    background: url("img/clint-link-img-two.jpg") center no-repeat;
}

.clint .clint-link .link-three:before {
    background: url("img/clint-link-img-three.png") center no-repeat;
}

.clint .clint-link .link-foo:before {
    background: url("img/clint-link-img-foo.png") center no-repeat;
}

.clint .clint-link .link-five:before {
    background: url("img/clint-link-img-five.png") center no-repeat;
}

.clint .clint-link .link:hover {
    -webkit-box-shadow: 1px 1px 4px 2px;
    box-shadow: 1px 1px 4px 2px;
    border-radius: 5px;
    padding: 5px;
}

.clint .clint-link .link {
    margin: 0 55px 0 0;
    color: #292626;
    font-family: "Myriad Pro", sans-serif;
    font-size: 25px;
    font-weight: 400;
    line-height: 30.54px;
}

footer {
    /*---------------------------footer----------------------*/
    background-color: #312b2b;
}

footer .footer-input {
    padding: 16px 0 15px;
}

footer .footer-input h1 {
    color: #cccccc;
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: 500;
    float: left;
    margin: 33px 0 32px;
}

footer form {
    display: block;
    float: right;
    margin: 16px 0 15px;
    position: relative;
}

footer .input-text {
    padding: 18px 264px 19px 17px;
    float: left;
    border-radius: 5px;
}

input[type="text"]::-webkit-input-placeholder {
    color: #b0bec4;
    font-family: "Myriad Pro", sans-serif;
    font-size: 17px;
    font-weight: 400;
    letter-spacing: 0.67px;

}

footer .footer-button {
    position: absolute;
    display: block;
    right: 0;
    padding: 15px 20px 15px 20px;
    background-color: #ec4848;
    outline: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;

}

footer .footer-button .button-img {
    display: block;
    background: url("img/footer-img-input@1x.png") center no-repeat;
    padding: 11px;
}

.footer-block {
    /*-------------------------footer-block-----------------*/
    background-color: #151515;
    padding: 55px 0 68px;

}

.footer-block .footer-block-wse {
    display: inline-block;
    margin: 0 15px 0 0;
    vertical-align: top;

}

.footer-block .footer-block-wse:last-child {
    margin: 0;
}

.footer-block .footer-block-wse h1 {
    color: #ec4848;
    font-family: PTSans, sans-serif;
    font-size: 30px;
    font-weight: 700;
    font-variant: small-caps;

}

.footer-block .footer-block-wse p {
    color: #cccccc;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    padding: 0 0 0 17px;
    margin: 21px 0 41px;
}

.footer-block .footer-block-wse .footer-soc {
    display: inline-block;
    width: 45px;
    height: 45px;
    border: 1px solid #e2e2e2;
    background-color: #ffffff;
    margin: 0 3px 0 0;
}

.footer-block .footer-block-wse .footer-soc:nth-child(1) {
    background: #fff url("img/soc-img.jpg") 18px center no-repeat;
}

.footer-block .footer-block-wse .footer-soc:nth-child(2) {
    background: #fff url("img/soc-img.jpg") -30px center no-repeat;
}

.footer-block .footer-block-wse .footer-soc:nth-child(3) {
    background: #fff url("img/soc-img.jpg") -80px center no-repeat;
}

.footer-block .footer-block-wse .footer-soc:nth-child(4) {
    background: #fff url("img/soc-img.jpg") -132px center no-repeat;
}

.footer-block .footer-block-wse .footer-soc:nth-child(5) {
    background: #fff url("img/soc-img.jpg") -182px center no-repeat;
}

.footer-block .footer-block-wse .footer-h1 {
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 21px;
    font-weight: 400;
    line-height: 21px;
    margin: 0 0 35px;
}

.footer-block .footer-block-wse .footer-ul {
    margin: 0 0 0 20px;
}

.footer-block .footer-block-wse li::before {
    display: inline-block;
    vertical-align: top;
    margin: 0 15px 0 0;
    padding: 10px;
    content: "";
    background: url("img/Slice_8.png") 0 0 no-repeat;
}

.footer-block .footer-block-wse li a {
    display: inline-block;
    margin: 0 0 35px;
    color: #cccccc;
    font-family: Roboto, sans-serif;
    font-size: 15px;
    font-weight: 400;
}

.footer-block .footer-block-wse li:last-child a {
    margin: 0;
}

.footer-block .wse-three {
    width: 290px;
}

.footer-block .footer-block-wse .wse-three-span {
    margin: 0 0 0 15px;

}

.footer-block .footer-block-wse .span {
    float: left;
    padding: 10px 5px 9px 6px;
    margin: 0 4px 5px 0;
    background-color: #ec4848;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-transform: uppercase;
}

.footer-block .footer-block-wse .span:last-child {
    margin: 0;
}

.footer-block .wse-foo .posts {
    width: 267px;
    margin: 0 0 0 15px;
}

.footer-block .footer-block-wse .flicker-posts-block {
    padding: 30px;
    margin: 0 9px 8px 0;
    float: left;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(1) {
    background: url("img/img.jpg") 0 0 no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(2) {
    background: url("img/img.jpg") -69px 0 no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(3) {
    background: url("img/img.jpg") -139px 0 no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(4) {
    background: url("img/img.jpg") -210px 0 no-repeat;
    margin: 0;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(5) {
    background: url("img/img.jpg") 0 -69px no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(6) {
    background: url("img/img.jpg") -69px -69px no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(7) {
    background: url("img/img.jpg") -139px -69px no-repeat;
}

.footer-block .footer-block-wse .flicker-posts-block:nth-child(8) {
    background: url("img/img.jpg") -210px -69px no-repeat;
    margin: 0;

}

footer .footer-bottom {
    padding: 27px 0;
    border-top: 3px solid #534a4a;
    background-color: #151515;
}

footer .footer-bottom h1 {
    color: #c5c5c5;
    font-family: "Open Sans", sans-serif;
    font-size: 14px;
    font-weight: 400;
    float: left;

}

footer .footer-bottom h1 span {
    color: #ec4848;
}

footer .footer-bottom .bottom-soc {
    float: right;

}

footer .footer-bottom .bottom-soc-a {
    float: left;
    display: block;
    margin: 0 10px 0 0;
    padding: 10px;

}

footer .footer-bottom .bottom-soc-a:last-child {
    margin: 0;
}

footer .footer-bottom .bottom-soc-a:nth-child(1) {
    background: url("img/bottom-soc-a-img.png") 5px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(2) {
    background: url("img/bottom-soc-a-img.png") -31px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(3) {
    background: url("img/bottom-soc-a-img.png") -70px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(4) {
    background: url("img/bottom-soc-a-img.png") -106px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(5) {
    background: url("img/bottom-soc-a-img.png") -142px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(6) {
    background: url("img/bottom-soc-a-img.png") -179px center no-repeat;
}

footer .footer-bottom .bottom-soc-a:nth-child(7) {
    background: url("img/bottom-soc-a-img.png") -215px center no-repeat;
}