@media (max-width: 992px) {
    label img {
        width: 60px;
    }

    .logo {
        text-align: center;
    }

    p.kach-p-cena {
        padding: 15px;
    }

    p.kach-p-cena span {
        font-size: 24px;
    }

    .kach-p-cena .span-one {
        text-align: center;
        font-size: 24px;

    }

    .kach-blue {
        margin: 10px 0;
    }

    div.count-akcia:before {
        left: 25%;
    }

    div#countdown #tiles span,
    div#countdown1 #tiles1 span {
        margin: 0 10px 0 0;
    }

    div#countdown #tiles span:after,
    div#countdown1 #tiles1 span:after {
        left: 40px;
    }

    div#countdown .labels li,
    div#countdown1 .labels1 li {
        margin: 0 10px 0 0;
    }
}

@media (max-width: 768px) {



    .character-nav {
        margin: 20px auto 0;
    }

    .logo {
        text-align: center;
    }

    .telefon {
        margin: 10px 0 0;
        text-align: center;
    }

    .kach-info {
        margin: 20px 0 0;
    }

    div.count-akcia:before {
        left: 25%;
    }

    div#countdown #tiles span {
        margin: 0 10px 0 0;
    }

    div#countdown #tiles span:after {
        left: 40px;
    }

    div#countdown .labels li {
        margin: 0 10px 0 0;
    }
}

@media (max-width: 500px) {
    .logo {
        text-align: center;
    }
}

@media (max-width: 387px) {



    div.count-akcia:before {
        left: 30%;
    }

    div#countdown #tiles span {
        margin: 0 10px 0 0;
    }

    div#countdown #tiles span:after {
        left: 40px;
    }

    div#countdown .labels li {
        margin: 0 10px 0 0;
    }
}


@media (max-width: 320px) {

    p.kach-p-cena {
        padding: 15px;
    }

    p.kach-p-cena span {
        font-size: 18px;
    }

    .kach-p-cena .span-one {
        text-align: center;
        font-size: 18px;

    }

    label img {
        width: 50px;
    }

    h1.logo-h1 {
        font-size: 18px;
    }



    .character-nav .character-ul li {
        font-size: 15px;
        font-weight: 300;
        line-height: 25px
    }
}