html {
    padding: 0;
}

body {
    font-family: CenturyGothic, sans-serif;
    text-decoration: none;

}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}


.b {
    border: 1px solid red;
}

.header {
    border-bottom: 5px solid #E1223B;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    width: 760px;
    margin: 0 auto;
}

.header-li {
    display: inline-block;
    margin: 0 40px 0 0;

}

.header-li:last-child {
    margin: 0;
}

.header .header-a,
.footer .header-a {
    display: block;
    padding: 15px 5px;
    color: #434342;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.footer {
    padding: 0 0 20px 0;
}

.header-a:hover {
    background: #E1223B;
    color: #fff;
}

/*----------------------------------------burger--------------------------------------------*/
.burger {
    cursor: pointer;
    position: relative;
    display: none;
    margin: 20px;
}

.burger-input {
    display: none;
}

.burger-label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 25px;
}

.burger-label div {
    position: absolute;
    display: block;
    top: 20px;
    width: 30px;
    height: 3px;
    background: #000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.burger-label .burger-div1 {
    top: 0;
}

.burger-label .burger-div2 {
    top: 10px;
}

.burger-label .burger-div3 {
    top: 20px;
}

.burger-text {
    position: absolute;
    opacity: 0;
    width: 100%;
    margin: 20px 0 0;
    padding: 15px 0;
    background: #434342;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.burger-a {
    display: block;
    padding: 5px 10px;
    color: #fff;
}

.burger-input:checked~.burger-text {
    opacity: 1;
}

.burger-input:checked~.burger-label .burger-div1 {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    top: 50%;
    opacity: 0;
}

.burger-input:checked~.burger-label .burger-div2 {
    top: 50%;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

.burger-input:checked~.burger-label .burger-div3 {
    top: 50%;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

/*------------------------------------------------breadcrumbs-----------------------------*/
.breadcrumbs {
    background: #FFFFFF;
    background: -o-linear-gradient(top, #FFFFFF 0%, #E8D9CE 2%, #FFFFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(2%, #E8D9CE), to(#FFFFFF));
    background: linear-gradient(to bottom, #FFFFFF 0%, #E8D9CE 2%, #FFFFFF 100%);
}

.breadcrumbs h2 {
    color: rgba(150, 140, 133, 1);
    font-size: 24px;
    font-family: Gothic, sans-serif;
    text-align: right;
}

.bread-a {
    color: rgba(127, 116, 108, 1);
}

.bread-active {
    color: #000;
}

.icon-next::after {
    font-family: "icomoon";
    content: "\e800";
    font-size: 12px;
    margin: 0 10px;
    color: #7F746C;
}

.bread-a:last-child::after {
    content: "";
}

.bread-a:hover {
    text-decoration: none;
    color: #7F746C;

}

/*-------------------------------------------content------------------------*/
.content {
    border-top: 1px solid #D7D7D7;

}

.content .h3,
span.active {
    font-size: 18px;
    cursor: pointer;
    display: block;
    font-family: Gothic, sans-serif;
    color: #fff;
    background: #E1223C;
    padding: 10px;
}

.content-left {
    border-right: 1px solid #D7D7D7;
}

.content-li {
    margin: 0 0 15px 0;
}

.content-ul ul li {
    padding: 0 0 0 20px;
}

.content-ul li a {
    display: block;
    /*    padding: 0 0 5px 0;*/
    color: #423C37;
    text-decoration: none;

}

.content-ul li a:hover {
    text-decoration: none;

}

.content img {
    padding: 10px 0 0;
}

.content .baner span {
    display: block;
    text-align: center;
    line-height: 200px;
    margin: 10px;
    height: 200px;
    border: 1px solid #D7D7D7;
    color: #D7D7D7;

}

.content h4 {
    font-size: 18px;
    margin: 20px 0 10px;
    font-family: Gothic, sans-serif;
    color: #E1223B;
}

.content p {
    color: #434342;
    font-family: Gothic, sans-serif;
    font-size: 14px;
}

.rekvizit {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #D7D7D7;
    border-left: none;
}

.rekvizit h1 {
    font-size: 18px;
    color: #151515;
}

.rekvizit p {
    font-size: 14px;
    color: #423C37;
    font-family: sans-serif;
}

/*------------------------------------slider----------------------------------------*/
.block-slider {
    text-align: center;
    border-top: 1px solid #d7d7d7;
    border-bottom: 1px solid #d7d7d7;


}

.block-slider h1 {
    color: #968C85;
    font-size: 24px;
    margin: 25px 0;
}

.main-slider {
    position: relative;
    max-width: 930px;
    margin: 0 auto;
    padding: 0 50px;
}

.main-slider img {
    width: 106px;
}

.main-slider .main-slider-item {
    position: relative;
    display: inline-block;
    outline: none;

}

.main-slider .asol {
    position: absolute;
    top: 0;
    background: #d52039;
    color: #fff;
    padding: 0 10px;
    border-radius: 0 0 10px 0;
    font-size: 10px;
}

.main-slider h1 {
    color: #434342;
    font-size: 18px;
    margin: 5px 0;
}

.main-slider p {
    color: #423C37;
    font-size: 11px;
    padding: 0 10px;
}

.main-slider .slick-list {
    overflow: hidden;
}

.main-slider .slick-track {}




.main-slider .slick-arrow {
    position: absolute;
    width: 100%;
    /*border: 5px solid red;*/
    top: 25%;
    left: 0;
    outline: none;
    font-family: icomoon;
    color: #c4c4c4;
    font-size: 0;
    background: none;
    border: none;

}

.main-slider .slick-arrow:hover::before {
    color: #F84040;
}

.main-slider .slick-prev::before {
    position: absolute;
    content: "\e901";
    left: 0;
    font-size: 60px;

}

.main-slider .slick-next::before {
    position: absolute;
    content: "\e900";
    right: 0;
    font-size: 60px;

}

/*------------------------------------------------------------------------------------benefits------------------------------*/
.benefits {
    font-family: CenturyGothic, sans-serif;
    text-align: left;

}

.benefits .benefits-img {
    float: left;
    display: inline-block;
    border: none;


}

.benefits img {}

.benefits h1 {
    color: #968C85;
    font-size: 24px;

}

.benefits h3 {
    color: #151515;
    font-size: 14px;
}

.benefits p {
    color: ##423C37;
    font-size: 12px;
}

/*---------------------------------------------------------------------footer-------------------- ------------------------------------------*/
.footer {
    border-top: 4px solid #E1223C;

}

.footer-text p {
    color: rgba(66, 60, 55, 1);
    font-size: 18px;
    margin: 5px 0 0;
}

.footer-block-text {
    background: rgba(0, 0, 0, .2);
}

/*///////////////////wrap-slider/////////////////*/


.slider-thumbnails-block {
    position: relative;
}

.card-product-slider,
.slider-thumbnails {
    overflow: hidden;
}

.card-product-slider {
    position: relative;
}

.card-product-slider .absol {
    position: absolute;
    top: 0;
    font-size: 13px;
    background: #e1223c;
    padding: 5px 15px;
    color: #fff;
    border-radius: 0 0 20px 0;
}

.slider-thumbnails {
    width: 271px;
    margin: 0 auto;
}

.card-product-slider .card-product-item,
.slider-thumbnails .slider-thumbnails-item {
    display: inline-block;
    outline: none;
}

.slider-thumbnails .slick-arrow {
    position: absolute;
    outline: none;
    top: 25%;
    left: 0;
    width: 100%;
    font-size: 0;
    background: none;
    border: none;
}

.slider-thumbnails .slick-prev::before,
.slider-thumbnails .slick-next::before {
    position: absolute;
    font-family: icomoon;
    font-size: 30px;
    color: #c4c4c4;

}

.slider-thumbnails .slick-prev::before {
    content: "\e900";
    right: 10px;

}

.slider-thumbnails .slick-next::before {
    content: "\e901";
    left: 10px;
}

.slider-thumbnails .slick-prev:hover::before,
.slider-thumbnails .slick-next:hover::before {
    color: #f84040;
}

.middle-menu h1 {
    font-size: 12px;
    color: #968c85;
    font-family: "Century Gothic,sans-serif";
}

.middle-menu .middle-zoom img {
    width: 25px;
    margin: -5px 0 0;
    cursor: pointer;
}

.middle-color {
    float: left;
}

.middle-zoom {
    float: right;
}

.middle-menu .color {
    display: inline-block;
    position: relative;
    opacity: .7;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.middle-menu .color::before {
    content: "";
    position: absolute;
    visibility: hidden;
    z-index: 10;
    left: 3px;
    bottom: -10px;
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid #968c85;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    -webkit-transition: color .5s;
    -o-transition: color .5s;
    transition: color .5s;
}

.middle-menu .color:hover::before {
    visibility: visible;
}

.middle-menu .color-red {
    background: red;
}

.middle-menu .color-yellow {
    background: yellow;
}

.middle-menu .color-blue {
    background: blue;
}

.middle-menu .color-l {
    background: #f1fba0;
}

/*---------------------------------------------------------------------------------multi-text-------------------------------------------*/
.content .multi-text {
    font-size: 18px;
    margin: 10px 0;
    font-family: "Century Gothic";
    color: #434342;
    text-align: left;
    padding: 10px;
    border: 15px solid transparent;
    -o-border-image: url(../img/border.gif) 10 repeat;
    border-image: url(../img/border.gif) 10 repeat;
}

.multi-text h1 {
    font-size: 18px;
    font-weight: bold;

}

.multi-text h2 {
    font-size: 14px;
    margin: 14px 0 24px;
}

.multi-text p {
    font-size: 11px;
    margin: 0;

}

.multi-text p a {
    color: red;
}

.multi-text .table {
    display: table;
    border: 1px solid rgba(67, 67, 66, .3);
    border-left: none;
    border-right: none;
    padding: 0 0 10px 0;
}

.multi-text .table-row {
    display: table-row;
    position: relative;

}

.multi-text .cell {
    display: table-cell;
    width: 80%;
    font-size: 11px;
    border-bottom: 1px dashed #dfe1f0;
    vertical-align: bottom;
    padding-top: 10px;
}

.multi-text .cell-two {
    width: 1%;
    border: none;
}

.multi-text .tb {
    display: inline-block;
    position: relative;
    background: #fff;
    word-wrap: break-word;
    word-break: break-word;
    bottom: -2px;

}

/*------------------------------------------------------------------social-------------------------------------------------------------------------*/
.social {
    margin: 10px 0;
}

.social .social-a img {
    padding: 0;
    width: 25px;
    height: 25px;
}

.social .button {
    position: relative;
    border-radius: 0 0 10px 0;
    background: #edecec;
    padding: 0 10px 5px 20px;
    font-size: 14px;
    display: inline-block;
    text-decoration: none;
    color: #434342;

}

.social .button::before {
    position: absolute;
    background: url(../img/button.gif) 0 0 no-repeat;
    content: "";
    top: 3px;
    left: 0;
    width: 20px;
    height: 20px;
}

/*----------------------------------------------------------------------buy--------------------------------------------------*/
.buy {
    position: relative;
    border-top: 1px solid #968c85;
}

.buy .buy-span {
    color: #968c85;
    font-size: 24px;
    font-weight: bold;
}

.buy .buy-a {
    position: absolute;
    top: 1px;
    right: 0;
    display: block;
    color: #434342;
    font-size: 18px;
    background: #e7e7e7;
    border-radius: 0 0 10px 0;
    text-decoration: none;
    padding: 5px;
}

/*--------------------------------------------------------------description-----------------------------------------------------*/
.content .nav {
    width: 100%;
}

.content .nav-tabs .nav-item {
    font-size: 12px;
    font-family: "Century Gothic";
    color: rgb(67, 67, 66);
    line-height: 1.2;
    text-align: left;

}


.tab-content .description {
    font-family: "Century Gothic", sans-serif;
    margin: 10px;

}

.content .nav-tabs span {
    display: inline-block;
    font-size: 14px;
    color: rgb(67, 67, 66);
    padding: 10px;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: #495057;
    background-color: #fff;
    border-color: #dee2e6 #dee2e6 #fff;
    background: #d7d7d7;

}

.tab-content .description p {
    font-size: 12px;
    color: rgb(67, 67, 66);
    line-height: 2;
}

/*------------------------------------------------------------file-----------------------------------------------------------------------*/
.file {
    font-family: "Century Gothic", sans-serif;
    margin: 10px 0 0;
}

.file h2 {
    font-size: 18px;
    margin: 0 0 20px;
    padding: 10px 0 0;
    color: rgb(150, 140, 133);
    line-height: 1.2;
    -moz-transform: scale(0.9, 1);
    -webkit-transform: scale(0.9, 1);
    -ms-transform: scale(0.9, 1);
}



.file .input-manual,
.file .input-book {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.file label,
.file label {
    width: 260px;
    padding: 0 0 10px 20px;
    cursor: pointer;
    border-bottom: 1px solid #d7d7d7;
}

.file label::before,
.file label::before {
    display: inline-block;
    vertical-align: middle;
    content: "";
    background: url(../img/input-file.gif) 0 0 no-repeat;
    width: 25px;
    height: 25px;
    padding: 0 5px 0 0;
}

/*------------------------------------------------------table--------------------------------------------------------------*/
.tab-content {
    width: 100%;
}

.tab-content .table {
    display: table;
    padding: 0 0 10px 0;
    margin: 10px;
}


.tab-content .table-row {
    display: table-row;
    position: relative;
}

.tab-content .cell {
    display: table-cell;
    font-size: 12px;
    border-bottom: 1px dashed #dfe1f0;
    vertical-align: bottom;
    padding-top: 10px;

}

.tab-content .cell-two {
    border: none;
}

.tab-content .tb {
    display: inline-block;
    position: relative;
    background: #fff;
    word-wrap: break-word;
    word-break: break-word;
    bottom: -2px;

}

/*-------------------------------------------content-item------------------------------------------*/
.content-item {
    text-align: center;
    position: relative;
    display: inline-block;
    outline: none;
    margin: 10px 0 0;

}

.content-item img {
    width: 106px;
}

.content-item h1 {
    color: #434342;
    font-size: 18px;
    margin: 5px 0;
}

.content-item p {
    color: #423C37;
    font-size: 11px;
    /*padding: 0 10px;*/
}

.content-item .asol {
    position: absolute;
    top: 0;
    background: #d52039;
    color: #fff;
    padding: 0 10px;
    border-radius: 0 0 10px 0;
    font-size: 10px;
}

/*--------------------------------------contact------------------------------------------------*/
.contact {
    text-align: center;
    font-family: "Century Gothic";
    line-height: 1.333;
}

.contact-two,
.contact-first {
    padding: 10px 0;
    border-bottom: 1px dashed #423c37;
}

.contact-three {
    padding: 10px 0;
}

.contact .contact-img {
    margin: 0 0 0 -70px;
}

.contact-two .contact-img,
.contact-two .contact-text {
    display: inline-block;
    vertical-align: top;
    margin: 0 50px 0 -40px;
}

.contact h1 {
    font-size: 18px;
    color: rgb(225, 34, 59);

}

.contact .contact-first p {
    margin: 0 0 15px;
}

.contact p {
    font-size: 18px;
    color: rgb(66, 60, 55);
    line-height: 1.2;
    margin: 0;
}

.contact img {
    width: 81px;

}

.contact .karta {
    margin: 40px auto 0;
    border: 15px solid transparent;
    -o-border-image: url(../img/border.gif) 10 repeat;
    border-image: url(../img/border.gif) 10 repeat;
}

/*----------------------------------------------content-news---------------------------------*/
.content-news {
    font-size: 18px;
    overflow: hidden;
    font-family: "Century Gothic";
    color: rgb(21, 21, 21);
    line-height: 1.2;
    text-align: left;
    padding: 10px 0 0;
    border-bottom: 1px dotted rgb(21, 21, 21);
}

.content-news h1 {
    font-size: 18px;
    color: rgb(67, 67, 66);

}

.content-news .active {
    color: #e1223c;

}

.content-news .span-news {
    font-size: 14px;
    color: rgb(67, 67, 66);
    font-weight: bold;
}

.content-news p {
    font-size: 14px;
    color: rgb(21, 21, 21);
    margin: 0 0 0 10px;
}

.content-news .link-news {
    float: right;
    font-size: 14px;
    color: rgb(21, 21, 21);
    text-decoration: none;
    padding: 5px 0;
}


.content-news .link-news:hover {
    color: #e1223c;
}

/*----------------------------------------------content-support----------------------------------*/
.content-support {
    font-size: 18px;
    font-family: "Century Gothic", sans-serif;
    color: rgb(67, 67, 66);
    line-height: 1.2;
    margin: 10px 0 50px 0;
}

.col-md-12:nth-child(5) .content-support {
    margin: 0;
}

.inline-support {
    overflow: hidden;

}

.content-support .img-support {
    float: left;
    margin: 0 15px 0 0;
}

.content-support img {
    width: 68px;
}

.content-support .link-support {
    font-size: 18px;
    text-decoration: none;
    color: #151515;
    font-weight: 600;


}

.content-support .active {
    color: #e1223c;
}

.content-support p {
    font-size: 14px;
    text-indent: 15px;
    text-align: justify;
    padding: 5px 0;
}

.content-support p q {
    quotes: "\00ab""\00bb";
}