html,
body {
    font-size: 16px;
}

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

img {
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

/*.wrap {
    width: 1200px;
    margin: 0 auto;
}*/
.popap {
    position: fixed;
    display: none;
    z-index: 20;
    padding: 0 20px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, .5);
}

.popap-bg {
    position: relative;
    max-width: 400px;
    padding: 15px;
    margin: 50px auto 0;
    background: url("../img/popap.png") center no-repeat;
    background-size: cover;
    -webkit-box-shadow: 0 38px 54px rgba(0, 0, 0, 1);
    box-shadow: 0 38px 54px rgba(0, 0, 0, 1);
}

.popap .clos {
    position: absolute;
    cursor: pointer;
    top: -30px;
    right: -30px;
    width: 30px;
    height: 30px;
    background: url("../img/clos.png") center no-repeat;
}

.popap .clos:hover {
    background: url("../img/clos-red.png") center no-repeat;
}

.popap h2 {
    color: white;
    font-family: "Besom 2", sans-serif;
    font-size: 53px;
    font-weight: 400;
    text-transform: uppercase;
}

.popap p {
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 40px 0;
    line-height: 24px;
}

.popap-text,
.popap-tel {
    display: block;
    border: none;
    width: 100%;
    height: 48px;
    margin: 0 0 20px 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 24px;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 400;
    padding: 0 0 0 20px
}

.popap-button {
    display: inline-block;
    text-align: center;
    margin: 50px auto;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    width: 360px;
    height: 73px;
    background: url("../img/popap-button.png") center no-repeat;
    background-size: contain;
    overflow: none;
    border: none;
}

.b {
    border: 1px solid red;
}


.header {
    background: url("../img/parallax-bg.jpg") center no-repeat;
    background-size: cover;
    background-attachment: fixed;
    min-height: 700px;
    color: white;
    padding: 20px 0;
    font-family: "CoreSansE", sans-serif;
    font-weight: 400;
    text-align: center;
}

.logo img {
    max-width: 100%;
}

.text {
    font-size: 18px;
    font-weight: 400;
    padding: 10px 0;
    letter-spacing: 10px;
}

.tel {
    font-size: 24px;
    font-weight: 500;
}



.text-left h1 {
    color: red;
    font-family: "Besom 2", sans-serif;
    font-size: 11.25rem;
    padding: 0 10px;
    margin: 20px 0;
    font-weight: 400;
    text-transform: uppercase;
}

.text-left h2 {
    color: white;
    font-family: "Core Sans E W01 65 Bold", sans-serif;
    font-size: 4.25rem;
    padding: 0 10px;
    font-weight: 900;
    text-transform: uppercase;
}


.text-left-block .img {
    width: 205px;
    height: 40px;
    background: url("../img/week.png") center no-repeat;
    display: inline-block;
}

.text-left-block span {
    display: inline-block;
    margin: 45px 0 45px 20px;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 14px;
    font-weight: 300;
}



.text-left .text-left-button {
    display: block;
    width: 307px;
    background: url("../img/link.png") center no-repeat;
    color: white;
    font-family: "CoreSansE", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 73px;
    border: none;
    outline: none;
}

/*///////////////////////////////////////////////////////////////////////////.who-you*/
.what-you-bg {
    background: url("../img/road.jpg") 200px 50px no-repeat;
    color: #4d4d4d;
    font-family: "CoreSansE",
        sans-serif;
    font-size: 16px;
    font-weight: 400;
}

.what-content {
    display: -moz-flex;
    display: -ms-flex;
    display: -o-flex;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    /*align-items: */
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;

}

.what-you .col-lg-12:nth-child(2) .what-content,
.what-you .col-lg-12:nth-child(4) .what-content {
    -webkit-box-pack: end;
    -ms-flex-pack: end;
    justify-content: flex-end;
}

.what-you h1 {
    position: relative;
    margin: 50px 0;
    text-align: center;
    color: rgba(50, 56, 63, .2);
    font-family: "Besom 2", sans-serif;
    font-size: 11.25rem;
    text-transform: uppercase;
}

.what-you span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: rgba(255, 0, 0, 1);
    font-family: "CoreSansE", sans-serif;
    font-size: 4.25rem;
    font-weight: 900;
    text-transform: uppercase;
}

.what-you img {
    margin: 0;
    max-width: 100%
}

.what-you h3 {
    color: #4d4d4d;
    margin: 0 0 10px;
    font-size: 20px;
    font-weight: 700;
}

.img-text {
    max-width: 288px;

}

.what-content p {
    color: #4d4d4d;
    font-size: 16px;
    font-weight: 400;
}

/*//////////////////////////////////////////////////////////////////////////////////////.speckyrs*/
.speckyrs {
    background: url("../img/spec-img.jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 190px 0;
    margin: 50px 0 0;
}

.border-row {
    border: 5px solid;
    -o-border-image: url("../img/spec-border.png") 5;
    border-image: url("../img/spec-border.png") 5;
}

.block-img {
    background: url("../img/spec-block-img1.jpg") center no-repeat;
    background-size: cover;
    min-height: 339px;
}


.spec-block {
    position: relative;
    margin: 30px 0 0;
    color: rgba(255, 255, 255, 1);
    font-family: "CoreSansE", sans-serif;
    text-transform: uppercase;
    font-weight: 400;
    line-height: 24px;

}

.block-img {
    margin: 0;

}

.spec-block h2 {
    display: block;
    color: rgba(255, 255, 255, .2);
    font-family: "Besom 2", sans-serif;
    font-size: 11.52vh;
    margin: 0 0 20px;
}

.spec-block h3 {
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 30px;
}


.spec-block p {
    font-size: 16px;
}

.spec-block .spec-p {
    position: absolute;
    width: 100%;
    max-width: 340px;
    padding: 0 10px;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    font-size: 36px;
    font-weight: 900;
    line-height: 44px;
}

.spec-block img {
    display: inline-block;
    max-width: 130px;
}

.spec-p2 {
    display: inline-block;
    color: #fefefe;
    font-family: "CoreSansE", sans-serif;
    font-size: 36px;
    font-weight: 900;
    text-transform: uppercase;
}

/*//////////////////////////////////////////////////////////////////////////////////////youknow*/
.youknow {
    padding: 50px 0;
}

.youknow h1 {
    position: relative;
    margin: 0 0 50px;
    font-size: 11.25rem;
    font-family: "Besom 2", sans-serif;
    color: rgba(50, 56, 63, 0.3);
    text-transform: uppercase;
    text-align: center;
}

.youknow span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 4.25rem;
    font-weight: 800;
    color: rgba(255, 0, 0, 1);
    font-family: "CoreSansE", sans-serif;
    text-transform: uppercase;
}

.you-img {
    vertical-align: middle;
    display: inline-block;
    margin: 0 20px 10px 0;

}

.you-img img {
    max-width: 140px;
    height: 145px;
}

.you-text {
    vertical-align: middle;
    width: 60%;
    display: inline-block;
}

.you-block2,
.you-block4 {
    margin: 120px 0 0;
}

.you-text h2 {
    margin: 0 0 20px;
    color: #4d4d4d;
    font-family: "CoreSansE", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 20px;
}

.you-text p {
    color: #4d4d4d;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
}

/*////////////////////////////////////////////////////////////////////////////////.takje*/
.takje {
    position: relative;
    padding: 100px 0;
}

.takje-h1 {
    text-align: center;
    margin: 0 0 30px;
    color: red;
    font-family: "CoreSansE", sans-serif;
    font-weight: 900;
    text-transform: uppercase;
    font-size: 2.25rem;
}


.takje p {
    color: #4d4d4d;
    font-family: "CoreSansE", sans-serif;
    padding: 0 0 0 10px;
    padding: 5px 0;
    font-size: 16px;
    font-weight: 400;
}

.tak-img {
    height: 50px;
}

.tak-img1 {
    background: url("../img/takje-img1.png") 5px 0 no-repeat;
}

.tak-img2 {
    background: url("../img/takje-img1.png") -210px 0 no-repeat;
}

.tak-img3 {
    background: url("../img/takje-img1.png") -465px 0 no-repeat;
}

.tak-img4 {
    background: url("../img/takje-img1.png") -690px 0 no-repeat;
}

.tak-img5 {
    background: url("../img/takje-img1.png") -950px 0 no-repeat;
}

/*//////////////////////////////////////////////////////////////////////////////////////test*/
.test {
    background: url("../img/test-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    padding: 70px 0;
}

.test .test-p1 {
    color: red;
    margin: 10px 0 0;
    font-family: "Besom 2", sans-serif;
    font-size: 7.5rem;
    font-weight: 400;
    text-transform: uppercase;
}

.test .test-p2 {
    margin: 10px 0;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 2.5rem;
    font-weight: 900;
    text-transform: uppercase;
}

.test-block .test-button,
.program .prog-button {
    display: inline-block;
    width: 100%;
    line-height: 73px;
    background: url("../img/test-a.png") center no-repeat;
    background-size: contain;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    border: none;
    outline: none;
}

.test-a:hover {
    color: #fff;
    text-decoration: none;
}

/*///////////////////////////////////////////////////////////////////////////////////////////////////////////////////.nawik*/
.nawik {
    padding: 100px 0;
}

.nawik-bg {
    position: relative;
    background: url("../img/nawik-bg.jpg") -300px 0 no-repeat;
    background-size: cover;
    height: 900px;
}

.nawik-img {
    width: 600px;
    position: absolute;
    top: 0;
    right: 0;
    background: url("../img/nawik-bg.png") -20px 0 no-repeat;
    height: 900px;

}

.nawik-img img {
    height: auto;
}

.nawik p {
    position: absolute;
    width: 200px;
    color: rgba(77, 77, 77, 1);
    font-family: "Core Sans E W01 45 Regular", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 25px;
    word-break: break-all;
    padding: 0 10px;
}



.nawik .p1 {
    top: 60px;
    right: 300px;
}

.nawik .p2 {
    top: 180px;
    right: 190px;
}

.nawik .p3 {
    top: 300px;
    right: 130px;
}

.nawik .p4 {
    top: 450px;
    right: 80px;
}

.nawik .p5 {
    top: 610px;
    right: 60px;
}

.nawik img {
    position: relative;
    left: -200px;
}

.nawik-h1 {
    position: relative;
    text-align: center;
    color: rgba(50, 56, 63, .3);
    font-family: "Besom 2", sans-serif;
    font-size: 11.25rem;
    font-weight: 400;
    text-transform: uppercase;

}

.nawik-h1 span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: rgba(255, 0, 0, 1);
    font-family: "Core Sans E W01 95 Black", sans-serif;
    font-size: 4.25rem;
    font-weight: 900;
    text-transform: uppercase;
}

/*////////////////////////////////////////////////////////////////////////program*/
.prog-bg {
    padding: 120px 150px;
    background: url("../img/prog-bg.jpg") 0 0 no-repeat;
    background-size: cover;
}

.prog-h1 {
    position: relative;
    margin: 0 0 50px;
    text-align: center;
    color: rgba(50, 56, 63, .3);
    font-family: "Besom 2", sans-serif;
    font-size: 10rem;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 10px;

}

.prog-h1 span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: red;
    font-family: "CoreSansE", sans-serif;
    font-size: 4.25rem;
    letter-spacing: 0;
    font-weight: 900;
    text-transform: uppercase;
}

.program-container p {
    position: relative;
    display: block;
    height: 45px;
    margin: 0 0 10px;
    line-height: 20px
}

.spanchi {
    display: inline-block;
    line-height: 34px;
    color: red;
    font-family: "Besom 2", sans-serif;
    font-size: 30px;
    font-weight: 400;

}

.spanchi2 {
    color: #4d4d4d;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 400;
    top: 0;
    left: 30px;
    position: absolute;
}

.prog-p {
    position: relative;
    color: red;
    font-family: "Besom 2", sans-serif;
    font-size: 5.438rem;
    font-weight: 400;
    text-transform: uppercase;
}

.prog-a {
    display: inline-block;
    width: 307px;
    line-height: 73px;
    background: url("../img/link.png") 0 0 no-repeat;
    color: white;
    font-family: "CoreSansE", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
}

/*///////////////////////////////////////////////////////////////////////////////////.foto*/
.foto {
    background: url("../img/foto-bg.jpg") 0 0 no-repeat;
    background-size: cover;
    height: 574px;
}

/*///////////////////////////////////////////////////////////////////////////////////.instruktor*/
.instruktor img {
    display: inline-block;
}

.ins-h1 {
    text-align: center;
    margin: 0 0 50px;
    position: relative;
    color: rgba(50, 56, 63, .2);
    font-family: "besom 2", sans-serif;
    font-size: 11.25rem;
    font-weight: 400;
    text-transform: uppercase;
}

.ins-h1 span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    color: red;
    font-family: "CoreSansE", sans-serif;
    font-size: 4.25rem;
    font-weight: 900;
    text-transform: uppercase;
}

.ins-name {
    position: absolute;
    top: -20%;
    left: 0;
    right: 0;
    color: red;
    font-family: "CoreSansE", sans-serif;
    font-size: 24px;
    font-weight: 700;
    margin: 0 0 40px;
}

.ins-block {
    position: relative;
    background: url("../img/ims-img.png") 0 0 no-repeat;
    height: auto;

}

.ins-block p {
    color: #4d4d4d;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 20px;
    padding: 0 0 0 50px;
}

.ins-text {
    text-align: center;

}

.ins-text h2 {
    color: red;
    margin: 0 0 10px;
    font-family: "Besom 2", sans-serif;
    font-size: 19.2vh;
    font-weight: 400;
    text-transform: uppercase;
}

.ins-text p {
    color: #4d4d4d;
    font-size: 16px;
    height: 50px;
    font-family: "CoreSansE", sans-serif;
}

.ins-margin {
    width: 100%;
    display: block;
    margin: 50px 0 0;
}

/*//////////////////////////////////////////////////////////////////////////////////////reviews*/
.reviews {
    padding: 50px 0;
    background: url("../img/rew-bg.png") 0 0 / cover no-repeat;
}

.rev-h1,
.geo-h1 {
    position: relative;
    text-align: center;
    font-size: 11.25rem;
    font-family: "Besom 2", sans-serif;
    color: rgba(50, 56, 63, 0.102);
    text-transform: uppercase;
    margin: 0 0 50px;

}

.rev-h1 span,
.geo-h1 span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 4.25rem;
    font-family: "CoreSansE", sans-serif;
    color: rgb(255, 0, 0);
    font-weight: 900;
    text-transform: uppercase;

}

.iframe {
    overflow: hidden;
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
}

.iframe iframe {
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
}

.slider {
    position: relative;
    border-top: 1px solid transparent;
    border-radius: 10px;
    min-height: 479px;
    margin: 70px 0;
    background-color: rgb(255, 255, 255);
    -webkit-box-shadow: 0px 9px 76px 0px rgba(0, 0, 0, .3);
    box-shadow: 0px 9px 76px 0px rgba(0, 0, 0, .3);
}

.slider .slider-block {
    max-width: 900px;
    margin: 100px auto;
    padding: 0 15px;
}

.slider .slider_item {
    display: inline-block;
}

.slider img {
    display: inline-block;
}

.slider_text {
    display: inline-block;
    width: 75%;
    vertical-align: middle;
    padding: 0 20px;
}

.slider_text h2 {
    font-size: 20px;
    font-family: "CoreSansE", sans-serif;
    color: rgb(77, 77, 77);
    font-weight: bold;
}

.slider_text p {
    font-size: 16px;
    margin: 20px 0 20px;
    font-family: "CoreSansE", sans-serif;
    color: rgb(77, 77, 77);
}


.slider_text a {
    display: inline-block;
    padding: 0 0 5px 0;
    margin: 0 0 10px 0;
    border-bottom: 1px dashed #000;
    font-size: 16px;
    font-family: "CoreSansE", sans-serif;
    color: rgb(77, 77, 77);
}

.slider .slick-list {
    overflow: hidden;

}

.slider .slick-arrow {
    position: absolute;
    outline: none;
    width: 80px;
    height: 20px;
    bottom: 20px;
    z-index: 10;
    font-size: 0;
    border: 0;
}

.slider .slick-prev {
    background: url("../img/arrow-l.png") 0 0 no-repeat;
    left: 35%;
}

.slider .slick-prev:hover {
    background: url("../img/left-hover.png") 0 0 no-repeat;
}

.slider .slick-next {
    background: url("../img/arrow-r.png") 0 0 no-repeat;
    right: 35%;
}

.slider .slick-next:hover {
    background: url("../img/right-hover.png") 0 0 no-repeat;
}

.slider .slick-dots {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 20px;
    width: 90px;
    margin: 0 auto;
    font-size: 0;
}

.slider .slick-dots li {
    display: inline-block;

}

.slider .slick-dots li button {
    outline: none;
    border: 0;
    width: 25px;
    height: 25px;
    background: url("../img/dots-1.png") center no-repeat;

}

.slider .slick-dots .slick-active button {
    background: url("../img/dots-hover.png") center no-repeat;
}

/*////////////////////////////////////////////////////////////////////////////////////////////geografi*/
.geo-bg {
    background: url("../img/geografi.jpg") center no-repeat;
    background-size: cover;
    min-height: 600px;
}

.geo-h1 {
    position: relative;
    text-align: center;
    font-size: 11.25rem;
    font-family: "Besom 2", sans-serif;
    color: rgba(50, 56, 63, 0.102);
    text-transform: uppercase;
    margin: 0 0 50px;

}

.geo-h1 span {
    position: absolute;
    top: 20%;
    left: 0;
    right: 0;
    font-size: 4.25rem;
    font-family: "CoreSansE", sans-serif;
    color: rgb(255, 0, 0);
    font-weight: 900;
    text-transform: uppercase;

}

/*//////////////////////////////////////////////////////////////////////////////////////////////question*/
.question {
    background: url("../img/question-bg.jpg") center center no-repeat;
    background-size: cover;
    padding: 190px 0;
    margin: 50px 0 0;
}

.question h2 {
    color: white;
    text-align: center;
    margin: 0 auto;
    font-family: "Besom 2", sans-serif;
    font-size: 10.88vh;
    font-weight: 400;
    text-transform: uppercase;
}

.question p {
    max-width: 380px;
    color: white;
    font-family: "CoreSansE", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    margin: 50px auto;
}

.question .form {
    width: 380px;
    margin: 0 auto;
}

.question input {
    display: block;
    width: 100%;
    color: #fff;
    background-color: rgba(255, 255, 255, .1);
    border-radius: 24px;
    font-family: "CoreSansE", sans-serif;
    padding: 10px;
    margin: 0 0 22px;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.question .que-button {
    display: block;
    margin: 50px auto 0;
    width: 307px;
    background: url(../img/link.png) center no-repeat;
    color: white;
    font-family: "CoreSansE", sans-serif;
    text-align: center;
    font-size: 18px;
    font-weight: 900;
    text-transform: uppercase;
    line-height: 73px;
    border: none;
    outline: none;
}

/*//////////////////////////////////////////////////////////////////////////////////footer*/
.footer {
    padding: 40px 0;
    text-align: center;

}

.f-p1 {
    color: #3c313b;
    font-family: "CoreSansE", sans-serif;
    font-size: 14px;
    font-weight: 500;
}

.f-p2 {
    color: #3c313b;
    font-family: "CoreSansE", sans-serif;
    font-size: 18px;
    font-weight: 500;
}

.fot-a {
    display: inline-block;
    color: #3c313b;
    font-family: "CoreSansE", sans-serif;
    font-size: 14px;
    font-weight: 400;
    border-bottom: 1px dashed #3c313b;
    padding: 0 0 5px 0;
}

.fot-a:hover {
    color: #3c313b;
}