@media screen and (max-width: 1199px) {

    html,
    body {
        font-size: 13px;
    }

    div.you-text {
        width: 55%;
        vertical-align: top;
    }

    div.you-block {
        margin: 0 0 50px;
    }
}

@media screen and (max-width: 915px) {
    .what-you {
        background: url("../img/road.jpg") 50px 210px no-repeat;
        color: #4d4d4d;
        font-family: "CoreSansE",
            sans-serif;
        font-size: 16px;
        font-weight: 400;
    }
}

@media screen and (max-width: 991px) {

    html,
    body {
        font-size: 10px;
    }

    div.you-text {
        width: 100%;
        vertical-align: top;
    }

    .what-you .col-lg-12:nth-child(2) .what-content,
    .what-you .col-lg-12:nth-child(4) .what-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}

@media screen and (max-width: 991px) and (min-width: 768px) {
    .test .test-a {
        line-height: 50px;
    }
}

@media screen and (max-width: 767px) {
    .logo img {
        margin: 0 auto;
    }

    .test {
        text-align: center;
    }

    .takje {
        padding: 50px 0 0;
    }

    .takje-block {
        position: relative;
    }

    .tak-img {
        float: left;
        height: 100px;
        width: 50px;
    }

    .tak-img1 {
        background: url("../img/takje-img-vertical1.png") 0 0 no-repeat;
    }

    .tak-img2 {
        background: url("../img/takje-img-vertical1.png") 0 -110px no-repeat;
    }

    .tak-img3 {
        background: url("../img/takje-img-vertical1.png") 0 -210px no-repeat;
    }

    .tak-img4 {
        background: url("../img/takje-img-vertical1.png") 0 -315px no-repeat;
    }

    .tak-img5 {
        background: url("../img/takje-img-vertical1.png") 0 -415px no-repeat;
    }

    .takje-h1 {
        margin: 0 0 30px;
    }

    .takje p {
        padding: 10px 0 0;
        margin: 0 0 0 60px;
    }

    html,
    body {
        font-size: 10px;
    }

    .you-block {
        text-align: center;
    }

    .you-img {
        text-align: center;
        max-width: 100%;
    }

    .spec-block .spec-p {
        text-align: center;
    }

    div.what-you {
        background: url("../img/road767.jpg") 100px 150px no-repeat;
        /*background-size: cover;*/
    }

    .what-content img {
        width: 100%;
        max-width: 290px;
    }

    div.header {
        min-height: 650px;

    }

    .text-left {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media screen and (max-width: 558px) {
    .what-you h1 {
        font-size: 8rem;
    }

    .youknow h1 {
        font-size: 8rem;
        margin: 0 0 50px;
    }
}

@media screen and (max-width: 530px) {
    div.what-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        text-align: center;
    }

    .what-you .col-lg-12:nth-child(2) .what-content,
    .what-you .col-lg-12:nth-child(4) .what-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media screen and (max-width: 425px) {

    html,
    body {
        font-size: 7px;
    }
}

@media screen and (max-width: 320px) {

    .what-you h1 {
        font-size: 8rem;
    }

    body {
        font-size: 50%;
    }

    div.text-left-block .img {
        display: block;
        margin: 20px auto;
    }

    div.text-left-block span {
        display: block;
        margin: 0 0 20px;
        text-align: center;
    }
}