@media (max-width: 1199px) {
    .ins-name {
        text-align: center;
        width: 100%;
        left: 50%;
    }

    .prog-bg {
        padding: 150px 90px;
    }

    .you-text {
        width: 55%;
        vertical-align: top;
    }

    .you-block {
        margin: 0 0 50px;
    }
}

@media (max-width: 991px) {

    html,
    body {
        font-size: 9px;
    }

    .slider {
        padding: 0 0 10px 0;
        text-align: center;
    }

    .slider img {
        display: block;
        margin: 0 auto;
    }

    .slider_text {
        width: 100%;
    }

    .slider .slick-prev {
        left: 30%;
    }

    .slider .slick-next {
        right: 30%;
    }

    .prog-bg {
        padding: 150px 0;
    }

    .what-you-bg {
        background: url("../img/road767.jpg") 100px 195px no-repeat;
        color: #4d4d4d;
        font-family: "CoreSansE", sans-serif,
            sans-serif;
        font-size: 16px;
        font-weight: 400;
    }

    .you-text {
        width: 100%;
        vertical-align: top;
    }

    .what-you .col-lg-12:nth-child(2) .what-content,
    .what-you .col-lg-12:nth-child(4) .what-content {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }
}


@media (max-width: 767px) {

    html,
    body {
        font-size: 8px;
    }

    .fot-a {
        margin: 20px 0;
    }

    .slider .slick-prev {
        left: 20%;
    }

    .slider .slick-next {
        right: 20%;
    }

    .ins-name {
        text-align: center;
        left: 0;
        right: 0;
    }

    .ins-block {
        background: url("../img/ims-img.png") 0 0 no-repeat;

    }

    .program-container p {
        width: 80%;
        margin: 0 auto 10px;
    }

    .program .prog-p {
        display: block;
        text-align: center;
    }

    .program .prog-a {
        display: block;
        margin: 20px auto;
    }

    .nawik-bg {
        background: url("../img/nawik-bg.jpg") -400px 0 no-repeat;
    }


    .logo img {
        margin: 0 auto;
    }

    .test {
        text-align: center;
    }

    .takje {
        padding: 50px 0 0;
    }

    .takje-block {
        position: relative;
    }

    .tak-img {
        float: left;
        height: 100px;
        width: 50px;
    }

    .tak-img1 {
        background: url("../img/takje-img-vertical1.png") 0 0 no-repeat;
    }

    .tak-img2 {
        background: url("../img/takje-img-vertical1.png") 0 -110px no-repeat;
    }

    .tak-img3 {
        background: url("../img/takje-img-vertical1.png") 0 -210px no-repeat;
    }

    .tak-img4 {
        background: url("../img/takje-img-vertical1.png") 0 -315px no-repeat;
    }

    .tak-img5 {
        background: url("../img/takje-img-vertical1.png") 0 -415px no-repeat;
    }

    .takje-h1 {
        margin: 0 0 30px;
    }

    .takje p {
        padding: 10px 0 0;
        margin: 0 0 0 60px;
    }

    .you-block {
        text-align: center;
    }

    .you-img {
        text-align: center;
        max-width: 100%;
    }

    .spec-block .spec-p {
        text-align: center;
    }

    .what-you-bg {
        padding: 70px 0;
        background: url("../img/road320-top.jpg") 50% 0 no-repeat,
            url("../img/road320-bottom.jpg") 50% 100% no-repeat;
    }

    .what-content img {
        width: 100%;
        max-width: 290px;
    }

    .header {
        min-height: 650px;

    }

    .text-left {
        display: -moz-flex;
        display: -ms-flex;
        display: -o-flex;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
    }
}

@media (max-width: 575px) {

    html,
    body {
        font-size: 6px;
    }

    .question .que-a {
        background-size: contain;
    }

    .question .form {
        width: 100%;
    }

    .question h2 {
        font-size: 40px;
    }

    .nawik-bg {
        background: url("../img/nawik-bg.jpg") -1000px 0 no-repeat;
    }

    .nawik-img {
        width: 110px;
        left: 0;
        background: url("../img/nawik-bg-img.png") 0 0 no-repeat;
        -webkit-transform: rotateZ(-5deg);
        -ms-transform: rotate(-5deg);
        transform: rotateZ(-5deg)
    }

    .nawik .p1 {
        top: 110px;
        left: 50px;
    }

    .nawik .p2 {
        top: 240px;
        left: 90px;
    }

    .nawik .p3 {
        top: 380px;
        left: 100px;
    }

    .nawik .p4 {
        top: 540px;
        left: 90px;
    }

    .nawik .p5 {
        top: 700px;
        left: 50px;
    }

    .what-content {
        text-align: center;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }

    .what-you .col-lg-12:nth-child(2) .what-content,
    .what-you .col-lg-12:nth-child(4) .what-content {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
    }
}

@media (max-width: 320px) {

    html,
    body {
        font-size: 4px;
    }

    .slider .slick-prev {
        left: 40px;
    }

    .slider .slick-next {
        right: 10px;
    }

    .text-left-block .img {
        display: block;
        margin: 20px auto;
    }

    .text-left-block span {
        display: block;
        margin: 0 0 20px;
        text-align: center;
    }
}