html {
    padding: 0;
}

body {
    font-family: CenturyGothic, sans-serif;
    text-decoration: none;

}

* {
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
}

.wrap {
    max-width: 1280px;
    margin: 0 auto;
}

img {
    width: 100%;
    height: auto;
    -webkit-box-shadow: 0;
    box-shadow: 0;
}


.b {
    border: 1px solid red;
}

.header {
    border-bottom: 5px solid #E1223B;
}

.conteiner {
    max-width: 1000px;
    margin: 0 auto;
}

.nav {
    width: 760px;
    margin: 0 auto;
}

.header-li {
    display: inline-block;
    margin: 0 40px 0 0;

}

.header-li:last-child {
    margin: 0;
}

.header .header-a,
.footer .header-a {
    display: block;
    padding: 15px 5px;
    color: #434342;
    font-size: 18px;
    text-decoration: none;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.header-a:hover {
    background: #E1223B;
    color: #fff;
}

/*----------------------------------------burger--------------------------------------------*/
.burger {
    cursor: pointer;
    position: relative;
    display: none;
    margin: 20px;
}

.burger-input {
    display: none;
}

.burger-label {
    cursor: pointer;
    position: relative;
    display: block;
    height: 25px;
}

.burger-label div {
    position: absolute;
    display: block;
    top: 20px;
    width: 30px;
    height: 3px;
    background: #000;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.burger-label .burger-div1 {
    top: 0;
}

.burger-label .burger-div2 {
    top: 10px;
}

.burger-label .burger-div3 {
    top: 20px;
}

.burger-text {
    position: absolute;
    opacity: 0;
    width: 100%;
    margin: 20px 0 0;
    padding: 15px 0;
    background: #434342;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.burger-a {
    display: block;
    padding: 5px 10px;
    color: #fff;
}

.burger-input:checked~.burger-text {
    opacity: 1;
}

.burger-input:checked~.burger-label .burger-div1 {
    -webkit-transition: none;
    -o-transition: none;
    transition: none;
    top: 50%;
    opacity: 0;
}

.burger-input:checked~.burger-label .burger-div2 {
    top: 50%;
    -webkit-transform: rotate(50deg);
    -ms-transform: rotate(50deg);
    transform: rotate(50deg);
}

.burger-input:checked~.burger-label .burger-div3 {
    top: 50%;
    -webkit-transform: rotate(-40deg);
    -ms-transform: rotate(-40deg);
    transform: rotate(-40deg);
}

/*------------------------------------------------breadcrumbs-----------------------------*/
.breadcrumbs {
    background: #FFFFFF;
    background: -o-linear-gradient(top, #FFFFFF 0%, #E8D9CE 2%, #FFFFFF 100%);
    background: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(2%, #E8D9CE), to(#FFFFFF));
    background: linear-gradient(to bottom, #FFFFFF 0%, #E8D9CE 2%, #FFFFFF 100%);
}

.breadcrumbs h2 {
    color: rgba(150, 140, 133, 1);
    font-size: 24px;
    font-family: Gothic, sans-serif;
    text-align: right;
}

.bread-a {
    color: rgba(127, 116, 108, 1);
}

.bread-active {
    color: #000;
}

.icon-next::after {
    font-family: "icomoon";
    content: "\e800";
    font-size: 12px;
    margin: 0 10px;
    color: #7F746C;
}

.bread-a:last-child::after {
    content: "";
}

.bread-a:hover {
    text-decoration: none;
    color: #7F746C;

}

/*-------------------------------------------content------------------------*/
.content {
    border-top: 1px solid #D7D7D7;

}

.content .h3,
span.active {
    font-size: 18px;
    cursor: pointer;
    display: block;
    font-family: Gothic, sans-serif;
    color: #fff;
    background: #E1223C;
    padding: 10px;
}

.content-border {
    border-right: 1px solid #D7D7D7;
}

.content-li {
    margin: 0 0 15px 0;
}

.content-ul ul li {
    padding: 0 0 0 20px;
}

.content-ul li a {
    display: block;
    /*    padding: 0 0 5px 0;*/
    color: #423C37;
    text-decoration: none;

}

.content-ul li a:hover {
    text-decoration: none;

}

.content-center {
    border-bottom: 1px solid #d7d7d7;
}

.content img {
    padding: 10px 0 0;
}

.content .baner span {
    display: block;
    text-align: center;
    line-height: 200px;
    margin: 10px;
    height: 200px;
    border: 1px solid #D7D7D7;
    color: #D7D7D7;

}

.content h4 {
    font-size: 18px;
    margin: 20px 0 10px;
    font-family: Gothic, sans-serif;
    color: #E1223B;
}

.content p {
    color: #434342;
    font-family: Gothic, sans-serif;
    font-size: 14px;
    text-indent: 1.5em;
}

.rekvizit {
    text-align: center;
    padding: 10px 0;
    border: 1px solid #D7D7D7;
    border-left: none;
}

.rekvizit h1 {
    font-size: 18px;
    color: #151515;
}

.rekvizit p {
    font-size: 14px;
    color: #423C37;
    font-family: sans-serif;
}

/*------------------------------------slider----------------------------------------*/
.block-slider {
    margin: 50px 0;
}

.block-slider h1 {
    text-align: center;
    color: #968C85;
    font-size: 24px;
}

#exampleSlider {
    max-width: 720px;
    margin: 0 auto;
    border: none;
    padding: 0 5px;
}

#exampleSlider .MS-content {
    border: none;
    text-align: center;

}

#exampleSlider .MS-content .item {
    position: relative;
    width: 25%;
    border: none;
}

#exampleSlider .MS-content .item .asol {
    position: absolute;
    padding: 5px;
    background: #E1223C;
    color: #fff;
    border-radius: 0 0 10px 0;
    font-size: 11px;
    top: 0;
}

#exampleSlider .MS-content .item img {
    width: 106px;
}

#exampleSlider .MS-content .item h1 {
    font-size: 18px;
    color: #434342;
    margin: 5px 0 0;
}

#exampleSlider .MS-content .item p {
    width: 150px;
    font-size: 11px;
    vertical-align: middle;
    line-height: 15px;
    color: #423C37;
    white-space: normal;
    margin: 0 auto;
    padding: 10px 0;
}

#exampleSlider .MS-controls .MS-left {
    left: 0;
}

#exampleSlider .MS-controls .MS-right {
    right: 0;
}

#exampleSlider .MS-controls button {
    top: 60px;
    padding: 0 10px;

}

.fa-chevron-left:before {
    content: "\e900";
    display: block;
    -webkit-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    transform: rotate(180deg);
}

.fa-chevron-right:before {
    content: "\e900";
}

.fa {
    font-family: icomoon;
    font-weight: 600;
    font-size: 50px;
    color: #D4D4D4;
}

.fa:hover {
    color: #D52039;
}

/*---------------------------------------benefits------------------------------*/
.benefits {
    font-family: CenturyGothic, sans-serif;

}

.benefits .benefits-img {
    float: left;
    display: inline-block;
    border: none;


}

.benefits img {}

.benefits h1 {
    color: #968C85;
    font-size: 24px;

}

.benefits h3 {
    color: #151515;
    font-size: 14px;
}

.benefits p {
    color: ##423C37;
    font-size: 12px;
}

/*---------------------------------footer-------------------- */
.footer {
    border-top: 4px solid #E1223C;

}

.footer-text p {
    color: rgba(66, 60, 55, 1);
    font-size: 18px;
    margin: 5px 0 0;
}

.footer-block-text {
    background: rgba(0, 0, 0, .2);
}