body {
    position: relative;
}

html {
    scroll-behavior: smooth;
}

.b {
    border: 1px solid red;
}

.portfolio {
    position: relative;
    width: 100%;
    max-width: 1920px;
    height: auto;
    margin: 0 auto;
}

.header {
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('../img/home-office-336377_1280.jpg') center 1px no-repeat;
    background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0.5))), url('../img/home-office-336377_1280.jpg') center 1px no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url('../img/home-office-336377_1280.jpg') center 1px no-repeat;
    width: 100%;
    background-size: cover;
    text-align: center;

}

.header .fixed-top {
    position: fixed;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    z-index: 9999;
}


.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
    color: #fff;
    background-color: #C34D0A;
    padding: 10px;
}

.header .navbar-nav {
    margin: 0 auto;
    display: block;
}


.header .navbar-nav .nav-item {
    display: inline-block;
    margin: 0 20px 0 0;
}

.header .navbar-nav .nav-item:last-child {
    margin: 0;
}

.header .navbar-nav .nav-link {
    display: block;
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 600;
    letter-spacing: 1px;
}

.header .fa {
    font-size: 20px;
    margin: 0 10px 0 0;
    color: #fff;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

.header .fa-home {
    margin: 0;
}

.header .fa-home:hover {
    -webkit-transform: scale(1.3);
    -ms-transform: scale(1.3);
    transform: scale(1.5);
    color: #C34D0A;

}

/* /////////////////////////////////////////////////////////////////////////////////.header-text */
.header-text {
    width: 100%;
    margin: 0 auto;
    text-align: center;
    padding: 100px 0;
    color: #fff;
}


.header-text img {
    border-radius: 10px;
    margin: 0 0 30px;
    width: 200px;
}

.header-text h1 {
    font-family: "NautilusPompiliusRegular", sans-serif;
    font-size: 40px;
    font-style: italic;
}

.header-text p {
    text-transform: inherit;
    font-family: "NautilusPompiliusRegular", sans-serif;
    font-size: 65px;
    font-style: italic;
    font-weight: 500;
}

.header-text a {
    display: inline-block;
    padding: 20px;
    background-color: #C34D0A;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    border-radius: 10px;
    -webkit-transition: all 1s;
    -o-transition: all 1s;
    transition: all 1s;
    font-weight: 600;

}

.header-text a:hover {
    padding: 20px 40px;
}

#section1 {
    padding: 100px 0;
    width: 100%;
    background: #fff;
    background-size: cover;
    color: #000;
    text-align: center;
}

#section1 h2 {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    letter-spacing: 10px;
}

#section1 .block-p {
    text-transform: uppercase;
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 700;
    padding: 50px 0 0;
    color: #000;
    text-align: left;
}

#section1 .block-p h3 {
    text-align: center;
    margin: 0 0 50px;
    text-transform: none;
    font-family: "Droid Serif", "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: 400;
    color: #000;
    letter-spacing: 2px;
}

#section1 .block-p ul {
    display: inline-block;
    padding: 50px;
    list-style: none;
    text-transform: none;
    text-align: left;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
    cursor: pointer;
}

#section1 .block-p ul:hover {
    background: rgba(0, 0, 0, .1);
    border-radius: 20px;
}

#section1 .block-p ul h4 {
    font-weight: 700;
    padding: 20px 0 0;
}

#section1 .block-p li {
    margin: 0 0 0 70px;
    color: #777;
    font-family: serif;
}



#section1 .fa-html5 {
    font-size: 50px;
    color: red;
}

/* ///////////////////////////////////////////////////#section2 */
#section2 {
    text-align: center;
    padding: 100px 0;
    color: rgba(255, 255, 255, 1);
    font-family: Montserrat, "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-weight: 900;
    background: -o-linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url("../img/codejpg.jpg") center no-repeat;
    background: -webkit-gradient(linear,
        left top, left bottom,
        from(rgba(0, 0, 0, 0.5)),
        to(rgba(0, 0, 0, 0.5))), url("../img/codejpg.jpg") center no-repeat;
    background: linear-gradient(rgba(0, 0, 0, 0.5),
        rgba(0, 0, 0, 0.5)), url("../img/codejpg.jpg") center no-repeat;
    background-size: cover;
    /* background: rgba(0, 0, 0, .1); */
}

#section2 h2 {
    letter-spacing: 10px;
    text-transform: uppercase;
}

#section2 p {
    letter-spacing: 2px;
    margin: 20px 0;

}

#section2 .img {
    padding: 30px;
    border-radius: 10px;
}

#section2 .img img {
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 12px #fff;
    box-shadow: 4px 4px 12px #fff;
}

#section2 .img img:hover {
    border-radius: 10px;
    -webkit-box-shadow: 4px 4px 12px #000;
    box-shadow: 4px 4px 12px #000;
}

#section2 .img img {
    max-width: 100%;
    height: 200px;
    -webkit-transition: all .5s;
    -o-transition: all .5s;
    transition: all .5s;
}

#section2 .img:hover img {
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}



/* ///////////////////////////////////////////////////////////////////////////////////////////#section4 */
#section4 {
    padding: 150px 0;
    color: #fff;
    background-color: #00bcd4;
}

#section4 h2 {
    text-align: center;
    margin: 0 0 50px;
}

#section4 .fa-google {
    font-size: 20px;
    color: #000;
    border: 1px solid #000;
}

#section4 .fas,
#section4 .fab {
    margin: 0 10px 0 0;
    font-size: 30px;
    vertical-align: middle;
}

#section4 b {
    margin: 0 0 0 10px;
    word-wrap: break-word;
}

#section4 p {
    border: 5px solid #fff;
    padding: 10px;
    margin: 0 auto 50px;
    width: 70%;
    border-radius: 10px;
    cursor: pointer;
    -webkit-transition: 1s all;
    -o-transition: 1s all;
    transition: 1s all;
}

#section4 p:hover {
    background: #000;
}