body {
    font-family: Arial;
    font-size: 16px;
}

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.wrapper {
    width: 100%;
    max-width: 1921px;
    height: auto;
}

.b {
    border: 1px solid red;
}

.header {
    padding: 0 0 60px;
    background: rgba(0, 0, 0, .5);

}

.header #myVideo {
    position: fixed;
    z-index: -1;
    min-width: 100%;
}

.header .header-top {
    width: 100%;
}

.header .dropdown-menu {
    color: #333;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 400;
    top: 70px;
}

.header .navbar {
    border-bottom: 1px solid rgba(255, 255, 255, .2);

}

.header .navbar-brand {
    color: white;
    font-family: "Lato black", sans-serif;
    font-size: 62px;
    line-height: 40px;
    text-transform: uppercase;
    font-weight: 900;
}

.header .navbar-brand span {
    font-family: "Lato light", sans-serif;
    font-weight: 300;

}

.header .nav-link {
    margin: 0 60px 0 0;
    color: white;
    font-family: "Lato Regular", sans-serif;
    font-size: 24px;
    font-weight: 400;
    line-height: 46px;
}

.header .header-text {
    text-align: center;
    margin: 50px;
    color: white;
    font-family: "Lato", sans-serif;
}

.header .header-text h3 {
    font-size: 34px;
    font-weight: 400;
    margin: 0 0 20px;
}

.header .header-text p {
    text-align: center;
    font-size: 112px;
    font-weight: 300;
}

.header .container-form {
    margin: 0 auto 50px;
    padding: 20px 0;
    width: 370px;
    height: 315px;
    -webkit-box-shadow: 0.5px 0.9px 13px rgba(0, 0, 0, 0.3);
    box-shadow: 0.5px 0.9px 13px rgba(0, 0, 0, 0.3);
}

.header form input {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 310px;
    height: 51px;
    border: 1px solid #ccc;
    margin: 0 auto;
}

.header form button {
    display: block;
    margin: 0 auto;
    width: 310px;
    height: 61px;
    background-color: #5dbdfe;
    -webkit-box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 1.5px 2.6px 5px rgba(0, 0, 0, 0.3);
}

.header form button span {
    text-shadow: 0.5px 0.9px 0 rgba(0, 0, 0, 0.1);
    color: white;
    font-family: "Lato", sans-serif;
    font-size: 20px;
    font-weight: 700;
    line-height: 22px;
    text-transform: uppercase;
}