@media (max-width: 575.98px) {
    .content .container h1 {
        font-size: 25px;
        margin: 100px 0 0;
    }

    .content .container h3 {
        font-size: 45px;
    }

    nav.navbar .navbar-brand {
        font-size: 22px;
    }
}

@media (max-width: 767.98px) {
    #about-us p {
        margin: 0;
    }

    #about-us {
        text-align: center;
        padding: 30px 0;
    }

    #features {
        padding: 30px 0 0;
        text-align: center;
    }

    #features .card {
        margin: 0 0 30px;
    }

    #features .card-img {
        width: 53px;
        height: 53px;
        margin: 0 0 10px;
    }

    #advantages {
        padding: 30px 0 0;
    }

    #advantages .container .advantages-h3 {
        margin: 45px 0 30px;
    }

    #hotitswork {
        text-align: center;
        padding: 20px 0;
    }

    #hotitswork .hotitswork-h3 {
        margin: 30px 0;
    }

    #blog {
        padding: 30px 0;
    }

    #partners {
        text-align: center;
        padding: 30px 0;

    }

    #partners .container .partners-h3 {
        margin: 0 0 40px;
    }

    #portfolio {
        text-align: center;
    }
}

@media (max-width: 991.98px) {
    .navbar {
        background: rgba(0, 0, 0, .9)
    }
}

@media (max-width: 1199.98px) {}

@media(max-width : 1279.98px) {}

@media(max-width : 1366px) {
    .navbar .navbar-brand {
        font-size: 42px;
    }

    .navbar .navbar-brand span {
        font-weight: 300;
    }

    .navbar .nav-link {
        font-size: 14px;
        margin: 0 45px 0 0;


    }

    .navbar .dropdown-item {
        font-size: 14px;
        line-height: 20px;

    }

    .navbar .dropdown-menu {
        top: 70px;

    }

    .content {
        line-height: 10px;
    }

    .content h3 {
        font-size: 80px;
    }

    #features {
        line-height: 30px;
    }

}

@media(max-width : 1680px) {}

@media (max-width: 1920.98px) {}