@media (max-width: 575.98px) {
    .content .container h1 {
        font-size: 25px;
        margin: 100px 0 0;
    }

    .content .container h3 {
        font-size: 45px;
    }

    nav.navbar .navbar-brand {
        font-size: 22px;
    }
}

@media (max-width: 767.98px) {}

@media (max-width: 991.98px) {
    .navbar {
        background: rgba(0, 0, 0, .9)
    }
}

@media (max-width: 1199.98px) {}

@media(max-width : 1279.98px) {}

@media(max-width : 1366px) {
    .navbar .navbar-brand {
        font-size: 42px;
    }

    .navbar .navbar-brand span {
        font-weight: 300;
    }

    .navbar .nav-link {
        font-size: 14px;
        margin: 0 45px 0 0;


    }

    .navbar .dropdown-item {
        font-size: 14px;
        line-height: 20px;

    }

    .navbar .dropdown-menu {
        top: 70px;

    }

    .content {
        line-height: 10px;
    }

    .content h3 {
        font-size: 80px;
    }

    #features {
        line-height: 30px;
    }

}

@media(max-width : 1680px) {}

@media (max-width: 1920.98px) {}